@page "/Course/Save/{Id:int?}"
@attribute [Authorize]
<h3>SaveCourse</h3>
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
<EditForm Model="@_course" OnValidSubmit="SubmitValidForm">
    <FluentValidationValidator />
    
     <MudTextField Label="Descrição"
      @bind-Value="_course.Description" For="@(() => _course.Description)"/>
     
   
    
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
</EditForm>
</MudContainer>
