@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudAppBar Elevation="1">
    <MudText Typo="Typo.h5" Class="ml-3">Blazor School</MudText>
    <MudSpacer />
</MudAppBar>
<div class="page pt-12">
  @Body
</div>